.Sidebar {
  margin: 20px;
}

.Sidebar img {
  width: 70px;
  border-radius: 15px;
}

.Sidebar ul {
  list-style-type: none;
}

.Sidebar ul li {
  margin: 15px 0 15px 0;
}

.Sidebar .divider {
  border-bottom: 1px solid black;
}